// Font color
$primary-color: #123c69;
$main-color: #ac3b61;

// Background color
$primary-background-color: #EEE2dc;
$secondary-background-color: #EEE2dc;
$box-background-color: #edc7b7;
$box-shadow-background-color: none;