<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset='utf-8'>
        <title>Leckere Rezepte für Jeden</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel="icon" type="image/svg+xml" href="res/imgs/favicon.svg">
        <link rel="alternate icon" href="res/imgs/favicon.ico">

        <link rel='stylesheet' type='text/css' media='screen' href='./style/main.css'>

        <script src='./scripts/jquery-3.5.1.min.js'></script>
        <script src='./scripts/main.js'></script>
    </head>
    <body>
        <nav>
            <div id="logo">
                <img src="./res/imgs/logo.svg" alt="logo">
            </div>
            <ul id="desktopMenu">
                <li class="dropdown" id="mobileNavBtn">
                    <button id="mobileNavButton">
                        <img src="./res/imgs/burgerMenu.svg" alt="logo">
                    </button>
                </li>
                <li class="dropdown">
                    <a href="./index.php" class="active mainMenu">Rezepte</a>
                    <ul class="subMenu">
                        <li>
                            <a href="./index.php?type=0">Hauptgerichte</a>
                        </li>
                        <li>
                            <a href="./index.php?type=1">Vorspeisen</a>
                        </li>
                        <li>
                            <a href="./index.php?type=2">Desserts</a>
                        </li>
                        <li>
                            <a href="./index.php?type=3">Backen</a>
                        </li>
                        <li>
                            <a href="./index.php?type=4">Anderes</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="./Was-soll-Ich-Kochen.php" class="mainMenu">Was soll ich kochen?</a>
                </li>
                <li class="dropdown">
                    <a href="./Rezept-erstellen.php" class="mainMenu">Rezept erstellen</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="mainMenu">News</a>
                </li>
                <li class="dropdown" id="searchbar">
                    <input type="text" id="fname" name="fname">
                    <button id="searchbarBtn"><img src="./res/imgs/search.svg" alt="search"></button>
                </li>
            </ul>
        </nav>
        <div id="pageContent">
            <article id="mainArticle">