<li>
    <!-- template -->
    <a href="./Rezept.php?nr=mealID" class="mealPreview">
        <div>
            <div class="mealImageContainer">
                <img src="mealPlaceholderImg" alt="" id="mealImg_mealID" onerror="this.src='./res/imgs/logo.svg';">
            </div>
            <div class="mealMetaContainer">
                <h2 id="mealName_mealID">mealNamePlaceholder</h2>
                <p id="mealPrepTime_mealID">mealPrepTimePlaceholder</p>
                <p id="mealPrepText_mealID">mealPrepTextPlaceholder</p>
            </div>
        </div>
    </a>
</li>